/* Reset and base styles  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	/* sticky footer */
	height: 100%;
	display: flex;
	flex-direction: column;
	/* /sticky footer */

	margin: 0;
	font-family: sans-serif;
	background-color: rgb(236, 246, 255);
	color: #000000;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

input, textarea, button {
	font-family: inherit;
	padding: 0;
}

label {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

/* Grid styles */
.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* Utility */
.none {
	display: none !important;
}

/* Text */
.title-1 {
	font-size: 42px;
}
.title-2 {
	font-size: 26px;
}

/* Header */
.header {
	padding: 15px 0;
	background-color: rgb(30, 30, 30);
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	width: 80px;
	height: 80px;
}
.header__logo img {
	object-fit: cover;
}

.header__nav {
	display: flex;
	align-items: center;
}
.header__nav-item {
	display: inline-block;

	color: rgb(255, 255, 255);
	text-decoration: none;
}
.header__nav-item:hover {
	color: rgba(255, 255, 255, 0.8);
}
.header__nav-item:active {
	color: rgba(255, 255, 255, 0.5);
}
.header__nav-item:not(:last-child) {
	margin-right: 25px;
}

/* Main */
.main {
	padding: 100px 0;
}

/* Main header */
.main-header {
	margin-bottom: 25px;
}
.main-header__title {
	margin-bottom: 15px;	
}

/* Main content nav */
.main-content {
	margin-bottom: 50px;
}
.main-content__title {
	margin-bottom: 15px;
}

.main-content a {
	font-size: 18px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.main-content a:hover {
	text-decoration: underline;
}
.main-content a:active {
	font-weight: 600;
}
.main-content li:not(:last-child) {
	margin-bottom: 10px;
}

/* Main History */
.main-history {

}

.main-history__title {
	margin-bottom: 25px;
}

.main-history p:not(:last-child){
	margin-bottom: 15px;
}

.main-history img{
	padding: 15px;

	width: 500px;
	height: 500px;
	object-fit: cover;

	float: right;
}

/* Footer */
.footer {
	margin-top: auto;
}