.diagram {
  margin-bottom: 50px;

  position: relative;
  border: 3px solid #000;
  border-width: 0px 0px 3px 3px;

  height: 300px;
  width: 500px;

  &::after,
  &::before {
    position: absolute;
    content: ''; 
    border: 10px solid transparent;
  }
  &::before {
    left: 0px;
    top: 0;
    transform: translate(-50%, -75%);

    border-bottom: 10px solid #000;
  }
  &::after {
    right: 0px;
    bottom: 0;
    transform: translate(55%, 55%);

    border-left: 10px solid #000;
  }
}
.diagram-item {
  position: absolute;
  content: "";

  width: 15%;
  bottom: 0;

  &::before {
    position: absolute;
    content: "";

    bottom: -2.5em;

    text-align: center;
    font-weight: bold;
    line-height: 1;
  }

  &.html {
    height: 10%;
    left: 7%;

    background-color: #e34c26;
    color: #e34c26;

    &::before {
      content: "HTML5 10%";
    }
  }
  &.css {
    height: 7%;
    left: 31%;

    background-color: #016eba;
    color: #016eba;

    &::before {
      content: "CSS3 (7%)";
    }
  }
  &.csharp {
    height: 25%;
    left: 55%;

    background-color: #8d50a0;
    color: #8d50a0;

    &::before {
      content: "C# (25%)";
    }
  }
  &.js {
    height: 15%;
    left: 79%;

    background-color: #e5c52a;
    color: #e5c52a;

    &::before {
      content: "JS (15%)";
    }
  }
}