.main {
	padding: 60px 0;

	background-repeat: no-repeat;
	background-size: cover;

	& section:not(:last-child) {
		margin-bottom: 45px;
	}
}

/* Main content nav */
.main-content a {
	font-size: 18px;
	color: rgb(0, 0, 0);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	&:active {
		font-weight: 600;
	}
}
.main-content li:not(:last-child) {
	margin-bottom: 10px;
}

/* Main History */
.main-history {
	& p:not(:last-child) {
		margin-bottom: 15px;
	}

	& img {
		padding: 15px;
		
		width: 500px;
		height: 500px;
		object-fit: cover;
		
		float: right;

		&:nth-child(even) {
			float: left;
		}
	}
}

/* Main Symbolism */
.main-symbolism img {
	padding: 15px;

	width: 500px;
	height: 500px;
	object-fit: contain;

	float: right;
}

/* Main Album */
.main-album__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 15px;
	column-gap: 15px;
}
.album__list-item {
	scale: 1;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:hover {
		position: relative;
		scale: 1.3;
		transition: scale 0.3s ease-in;
		z-index: 9;
	}
}

/* Main Events */
.main-events .list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	& video,
	& img {
		margin: 0 auto;
		width: 450px;
		height: 450px;
		object-fit: cover;
		border-radius: 15px;
	}

	&:not(:last-child) {
		margin-bottom: 45px;
	}
}
.main-events .list-item__text {
	margin-right: 40px;

	& p {
		line-height: 1.3;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

/* Main Culture */

.main-culture__block {

	details {
		border: 1px solid #aaa;
		border-radius: 4px;
		padding: 0.5em 0.5em 0;

		text-align: center;

		& + img {
			margin-top: 25px;
		}
	}

	summary {
		font-weight: bold;
		margin: -0.5em -0.5em 0;
		padding: 0.5em;
	}

	details[open] {
		padding: 0.5em;
	}
	
	details[open] summary {
		border-bottom: 1px solid #aaa;
		margin-bottom: 0.5em;
	}

	& img {
		margin: 0 auto;

		width: 500px;
		height: 500px;
		object-fit: cover;

		border-radius: 25px;
	}

	&:not(:last-child) {
		margin-bottom: 50px;
	}
}

.main-culture__audio {
	li {
		display: flex;
		align-items: center;

		span {
			margin-right: 15px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

/* Main Feedback */

.main-feedback {
	text-align: center;
}

/* Main About */

.main-about {
	& img {
		padding: 30px;

		width: 400px;
		height: 400px;

		float: right;
		object-fit: cover;

		border-radius: 50px;
		box-shadow: inset 0px 20px 75px -10px rgba(255, 124, 163, 0.75);
	}
}