/* Table */

.table {
	margin-bottom: 20px;

	border: 1px solid $backcolor-table-default;
	border-collapse: collapse;

	&.max-width {
		width: 100%;
	}

	& caption {
		font-weight: 700;
		border: 1px solid $color-border-default;
		background-color: $backcolor-table-disabled;
	}

	& th {
		padding: 5px;
		background-color: $backcolor-table-disabled;
		border: 1px solid $color-border-default;
		font-weight: bold;
	}

	& td {
		padding: 5px;
		border: 1px solid $color-border-default;
		text-align: center;

		&:hover {
			background-color: $backcolor-table-hover;
		}
	}

	& tfoot td {
		background-color: $backcolor-table-disabled;
		font-weight: bold;
	}

	& tbody tr {
		&:nth-child(odd) {
			background-color: #ffffff;
		}

		&:nth-child(even) {
			background-color: #F7F7F7;
		}
	}
}